</main>

<footer>
    <div class="social">
        <a href="https://www.facebook.com/grupocriativo.oparque" target="_blank"><img src="{{ paths.theme }}images/facebook.svg" alt="Ícone do Facebook" /></a>
        <a href="https://instagram.com/oparque/" target="_blank"><img src="{{ paths.theme }}images/instagram.svg" alt="Ícone do Instagram" /></a>
        <a href="https://www.youtube.com/channel/UCm2apUsKeZ9g6dDLG-r4ogQ" target="_blank"><img src="{{ paths.theme }}images/youtube.svg" alt="Ícone do Youtube" /></a>
    </div>

    <div class="conecte">
        <p class="title">Conecte-se</p>

        <p>Aproveite para se cadastrar e ficar por dentro do que acontece nOPARQUE.</p>

        <form method="post" action="/conecte">
            <input id="nome" name="nome" type="text" placeholder="nome" />
            <input id="sobrenome" name="sobrenome" type="text" placeholder="sobrenome" />
            <input id="email" name="termos" type="email" placeholder="e-mail" />
            <input type="submit" value="enviar" />
        </form>
    </div>

    <div class="info">
        <div class="background"></div>

        <div class="content">
            <address>
                <div class="mail">
                    <img src="{{ paths.theme }}images/mail.svg" alt="Ícone do Facebook" />
                    <a href="mailto:contato@oparque.art.br">contato@oparque.art.br</a>
                </div>

                <div class="phone">
                    <img src="{{ paths.theme }}images/phone.svg" alt="Ícone de telefone" />
                    <a href="tel:552732073446">+55 (27) 3207-3446</a>
                </div>

                <div class="address">
                    <img src="{{ paths.theme }}images/pin.svg" alt="Ícone de endereço" />
                    <span>
                        Rua Sete de Setembro, 493. Centro. Vitória - ES. CEP: 29015-000.
                    </span>
                </div>
            </address>

            <div class="busca">
                <form method="get" action="/busca">
                    <input id="busca" name="busca" type="text" placeholder="Encontre algo aqui" />
                    <input type="submit" value="ir" />
                </form>

                <img src="{{ paths.theme }}images/maos_busca.png" alt="" />
            </div>
        </div>
    </div>
</footer>

<!--[if lt IE 9]>
    <script src="https//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="https//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 9]>
    <script src="{{ paths.theme }}scripts/jquery.placeholder.min.js"></script>
    <script>
        $(function () { $('input, textarea').placeholder(); });
    </script>
<![endif]-->

<script src="{{ paths.theme }}scripts/main.js" async defer></script>
</body>
</html>
