</main>

<footer>
    <div class="social">
        <a href="https://www.facebook.com/grupocriativo.oparque" target="_blank"><img src="{{ paths.theme }}images/facebook.svg" alt="Ícone do Facebook" /></a>
        <a href="https://instagram.com/oparque/" target="_blank"><img src="{{ paths.theme }}images/instagram.svg" alt="Ícone do Instagram" /></a>
        <a href="https://www.youtube.com/channel/UCm2apUsKeZ9g6dDLG-r4ogQ" target="_blank"><img src="{{ paths.theme }}images/youtube.svg" alt="Ícone do Youtube" /></a>
    </div>

    <div class="conecte">
        <p class="title">Conecte-se</p>

        <p>Aproveite para se cadastrar e ficar por dentro do que acontece nOPARQUE.</p>

        <form action="https://www.rockpigeon.com.br/form/public" method="post" accept-charset="utf-8">
            <input type="hidden" name="dateFormat" value="d/m/Y">
            <input type="hidden" name="dateTimeFormat" value="d/m/Y H:i:s">
            <input type="hidden" name="receiverId" value="2385">
            <input type="hidden" name="receiverToken" value="737cba2caf91749fbae28baf4e24dc64">
            <input type="hidden" name="successUrl" value="http://www.oparque.art.br/">
            <input type="hidden" name="labels" value="2086.86969401a1581f3a95919ef672c815b0">

            <input id="nome" name="fields[2]" type="text" placeholder="nome" />
            <input id="sobrenome" name="fields[3]" type="text" placeholder="sobrenome" />
            <input id="email" name="fields[1]" type="email" placeholder="e-mail" />
            <input type="submit" value="enviar" />
        </form>
    </div>

    <div class="info">
        <div class="background"></div>

        <div class="content">
            <address>
                <div class="contato">
                    <div>
                        <img src="{{ paths.theme }}images/mail.svg" alt="Ícone do Facebook" />
                        <a href="mailto:contato@oparque.art.br">contato@oparque.art.br</a>
                    </div>

                    <div>
                        <img src="{{ paths.theme }}images/phone.svg" alt="Ícone de telefone" />
                        <a href="tel:552732073446">+55 (27) 3207-3446</a>
                    </div>
                </div>

                <div class="address">
                    <img src="{{ paths.theme }}images/pin.svg" alt="Ícone de endereço" />
                    <span>
                        Rua Sete de Setembro, 493. Centro. Vitória - ES. CEP: 29015-000.
                    </span>
                </div>
            </address>

            <div class="busca">
                <form action="/busca" method="get" accept-charset="utf-8">
                    <input id="busca" name="busca" type="text" placeholder="Encontre algo aqui" />
                    <input type="submit" value="ir" />
                </form>

                <img src="{{ paths.theme }}images/maos_busca.png" alt="" />
            </div>
        </div>
    </div>
</footer>

<!-- Reza braba pra funcionar no IE -->
<!--[if lt IE 9]>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 9]>
    <script src="{{ paths.theme }}scripts/jquery.placeholder.min.js"></script>
    <script>
        $(function () { $('input, textarea').placeholder(); });
    </script>
<![endif]-->
<!--[if lte IE 8]>
    <script src="{{ paths.theme }}scripts/rem.min.js"></script>
<![endif]-->

<script src="{{ paths.theme }}scripts/main.js" async defer></script>
</body>
</html>
