{% include '_header.twig' %}

<div id="projetos-container">
    <ul class="categorias">
        <li class="design">
            <div class="background">
                <div class="image"></div>
            </div>

            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_design.svg" alt="Design" />
                </a>
            </div>
        </li>

        <li class="arte">
            <div class="background">
                <div class="image"></div>
            </div>

            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_arte.svg" alt="Artes" />
                </a>
            </div>
        </li>

        <li class="educacao">
            <div class="background">
                <div class="image"></div>
            </div>

            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_educacao.svg" alt="Educação" />
                </a>
            </div>
        </li>

        <li class="eventos">
            <div class="background">
                <div class="image"></div>
            </div>

            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_eventos.svg" alt="Eventos" />
                </a>
            </div>
        </li>
    </ul>

    <div class="sobre">
        <h1>Os projetos</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere ante ut lectus rutrum, sed pulvinar ipsum rutrum. Morbi a porta lectus. Sed non mauris porttitor, feugiat lectus eget, scelerisque enim. Vivamus suscipit erat eu justo ultricies, ac tempor dolor suscipit.
        </p>
    </div>

    <section class="projetos">
        <ul>
            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/avatis.jpg)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #2d4c71">Avatis</span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #2d4c71">
                                Mudança.<br />
                                Comportamento.<br />
                                Desempenho
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/az.jpg)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #e70300">Expo AZ</span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #e70300">
                                Mínimo multiplo<br />
                                (in)comum
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/conceptho.jpg)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #99be7d">Conceptho</span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #99be7d">
                                Observar.<br />
                                Detectar.<br />
                                Adequar.
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/efficens.jpg)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #4cc6c7">Efficens</span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #4cc6c7">
                                Eficiência é obter<br />
                                mais com menos
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/fecin.jpg)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #c41788">FECIN</span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #c41788">
                                Festival de TV<br />
                                e cinema do interior
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/golburger.jpg)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #ab977c">Golburger</span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #ab977c">
                                Porque é feito<br />
                                para transbordar
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/labtar.jpg)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #ecbe35">
                                Living Lab<br />
                                Habitat
                            </span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #ecbe35">
                                Colaboração<br />
                                e inovação
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/manguinhos.png)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #d8e300">
                                Manguinhos<br />
                                Jazz & Blues<br />
                                Festival
                            </span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #d8e300">
                                O balneário do<br />
                                jazz & blues
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/saleiro.png)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #00bcce">Saleiro</span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #00bcce">
                                Comunicação na<br />
                                medida certa
                            </span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <div class="pagination">
        <ol>
            <li><a href="#primeiro"><img src="{{ paths.theme }}images/double_left_arrow.svg" alt="Início" /></a></li>
            <li><a href="#1">1</a></li>
            <li><a href="#2">2</a></li>
            <li><a href="#3">[3]</a></li>
            <li><a href="#4">4</a></li>
            <li><a href="#5">5</a></li>
            <li><a href="#ultimo"><img src="{{ paths.theme }}images/double_right_arrow.svg" alt="Final" /></a></li>
        </ol>
    </div>
</div>

{% include '_footer.twig' %}